<% if (movie) { %>
    <div class="container">
        <h2><%= movie.title %></h2>
        <img src="<%= movie.img %>" alt="<%= movie.title %> Poster" width="200">
        <% if (user) { %>
            <form method="PATCH" action="/movies/add" class="add-movie-form">
                <input type="hidden" name="movieId" value="<%= movie._id %>">
                <div class="button-container">
                    <button type="submit" class="add-button" data-movie-title="<%= movie.title %>">Add to my list!</button>
                </div>
            </form>
        <% } %>
    </div>
<% } else { %>
    <p>Movie not added</p>
<% } %>
</div>

</body>
</html>