<h1><%= user.userName %></h1>

<h2>Unwatched Movies</h2>
    <ul>
        <% user.watchedMovies.forEach(movie => { %>
            <li><%= movie.img %></li>
            <li><%= movie.title %></li>
            <li><%= movie.rating %></li>
            <button id="watched">Watched?</button>
        <% }); %>
    </ul>


<h2>Watched Movies</h2>
    <ul>
        <% user.watchedMovies.forEach(movie => { %>
            <li><%= movie.img %></li>
            <li><%= movie.title %></li>
            <li><%= movie.rating %></li>>
        <% }); %>
    </ul>
</body>
</html>